# Refer to https://github.com/elastic/elasticsearch/blob/main/docs/reference/setup/install/docker/docker-compose.yml

# noinspection ComposeUnknownKeys
x-elasticsearch-image: &elasticsearch-image
  "elasticsearch:9.2.3"

# noinspection ComposeUnknownKeys
x-kibana-image: &kibana-image
  "kibana:9.2.3"

# noinspection ComposeUnknownKeys
x-balancer-image: &balancer-image
  "haproxy:2.8-alpine"

# noinspection ComposeUnknownKeys
x-elasticsearch-username: &elasticsearch-username
  "elastic"

# noinspection ComposeUnknownKeys
x-elasticsearch-password: &elasticsearch-password
  "elastic"

# noinspection ComposeUnknownKeys
x-kibana-username: &kibana-username
  "kibana_system"

# noinspection ComposeUnknownKeys
x-kibana-password: &kibana-password
  "kibana_system"

# noinspection ComposeUnknownKeys
x-ca-key-passphrase: &ca-key-passphrase
  "private_key_passphrase"

# noinspection ComposeUnknownKeys
x-ulimits: &default-ulimits
  memlock:
    soft: -1
    hard: -1

# noinspection ComposeUnknownKeys
x-elasticsearch-data-node-limits: &elasticsearch-data-node-limits
  mem_limit: "1024m"
  mem_reservation: "512m"

# noinspection ComposeUnknownKeys
x-elasticsearch-master-nodes: &elasticsearch-master-nodes
  discovery.seed_hosts: "elasticsearch1,elasticsearch2,elasticsearch3"
  cluster.initial_master_nodes: "elasticsearch1,elasticsearch2,elasticsearch3"

# noinspection ComposeUnknownKeys
x-elasticsearch-data-conf: &elasticsearch-data-conf
  <<: *elasticsearch-master-nodes
  node.roles: "[ master, data, ingest ]"
  bootstrap.memory_lock: "true"
  xpack.security.enabled: "true"
  xpack.security.http.ssl.enabled: "true"
  xpack.security.http.ssl.certificate_authorities: "certs/ca/ca.crt"
  xpack.security.transport.ssl.enabled: "true"
  xpack.security.transport.ssl.certificate_authorities: "certs/ca/ca.crt"
  xpack.security.transport.ssl.verification_mode: "certificate"
  xpack.license.self_generated.type: "trial"
  ELASTIC_USERNAME: *elasticsearch-username
  ELASTIC_PASSWORD: *elasticsearch-password

# noinspection ComposeUnknownKeys
x-elasticsearch-coordinating-node-limits: &elasticsearch-coordinating-node-limits
  mem_limit: "1024m"
  mem_reservation: "512m"

# noinspection ComposeUnknownKeys
x-elasticsearch-coordinating-conf: &elasticsearch-coordinating-conf
  <<: *elasticsearch-master-nodes
  bootstrap.memory_lock: "true"
  xpack.security.enabled: "true"
  xpack.security.http.ssl.enabled: "true"
  xpack.security.http.ssl.certificate_authorities: "certs/ca/ca.crt"
  xpack.security.transport.ssl.enabled: "true"
  xpack.security.transport.ssl.certificate_authorities: "certs/ca/ca.crt"
  xpack.security.transport.ssl.verification_mode: "certificate"
  xpack.license.self_generated.type: "trial"
  node.roles: "[ ]"
  ELASTIC_USERNAME: *elasticsearch-username
  ELASTIC_PASSWORD: *elasticsearch-password

# noinspection ComposeUnknownKeys
x-elasticsearch-api-endpoint: &elasticsearch-api-endpoint
  "http://elasticsearch-balancer:8080"

# noinspection ComposeUnknownKeys,ComposeUnknownValues
x-elasticsearch-entrypoint: &elasticsearch-entrypoint
  - "/bin/tini"
  - "-e"
  - "130"
  - "-e"
  - "143"
  - "--"

# noinspection ComposeUnknownKeys,ComposeUnknownValues
x-elasticsearch-command: &elasticsearch-command
  - "/usr/local/bin/docker-entrypoint.sh"
  - "eswrapper"

# noinspection ComposeUnknownKeys
x-elasticsearch-healthcheck: &elasticsearch-healthcheck
  test:
    - "CMD-SHELL"
    - "curl -s --cacert config/certs/ca/ca.crt -f -u \"$${ELASTIC_USERNAME}:$${ELASTIC_PASSWORD}\" 'https://localhost:9200/_cluster/health?wait_for_status=green&timeout=20s' || exit 1"
  interval: "30s"
  timeout: "25s"
  retries: 20

# noinspection ComposeUnknownKeys
x-kibana-limits: &kibana-limits
  mem_limit: "1024m"
  mem_reservation: "512m"

# noinspection ComposeUnknownKeys
x-kibana-conf: &kibana-conf
  SERVER_PUBLICBASEURL: "http://localhost"
  ELASTICSEARCH_HOSTS: "[\"https://elasticsearch4:9200\",\"https://elasticsearch5:9200\"]"
  ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES: "config/certs/ca/ca.crt"
  XPACK_SECURITY_ENCRYPTIONKEY: "110209afc93b2ab4e788f008f67bf68e"
  XPACK_REPORTING_ENCRYPTIONKEY: "250ce20fab7ab03fee8f012f254cfe8f"
  XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "b5feb0423c3f2927b6febb74876a5a71"
  ELASTICSEARCH_USERNAME: *kibana-username
  ELASTICSEARCH_PASSWORD: *kibana-password
  KIBANA_USERNAME: *elasticsearch-username
  KIBANA_PASSWORD: *elasticsearch-password
  TELEMETRY_ENABLED: "false"
  NEWSFEED_ENABLED: "false"

# noinspection ComposeUnknownKeys,ComposeUnknownValues
x-kibana-entrypoint: &kibana-entrypoint
  - "/bin/tini"
  - "-e"
  - "130"
  - "-e"
  - "143"
  - "--"

# noinspection ComposeUnknownKeys,ComposeUnknownValues
x-kibana-command: &kibana-command
  - "/usr/local/bin/kibana-docker"

# noinspection ComposeUnknownKeys
x-kibana-healthcheck: &kibana-healthcheck
  test:
    - "CMD-SHELL"
    - "curl -s -f -u \"$${KIBANA_USERNAME}:$${KIBANA_PASSWORD}\" 'http://localhost:5601/api/status' || exit 1"
  interval: "30s"
  timeout: "25s"
  retries: 20

# noinspection ComposeUnknownKeys
x-elasticsearch-certs-volume: &elasticsearch-certs-volume
  "certs:/usr/share/elasticsearch/config/certs:ro"

# noinspection ComposeUnknownKeys
x-kibana-certs-volume: &kibana-certs-volume
  "certs:/usr/share/kibana/config/certs:ro"

# noinspection ComposeUnknownKeys
x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "12m"
    max-file: "5"

volumes:
  certs:
  elasticsearch1-data:
  elasticsearch2-data:
  elasticsearch3-data:
  elasticsearch4-data:
  elasticsearch5-data:
  kibana1-data:
  kibana2-data:

services:
  setup:
    image: *elasticsearch-image
    user: "0"
    command:
      - "bash"
      - "-c"
      - |-
        if [ ! -f config/certs/ca/ca.key ] || [ ! -f config/certs/ca/ca.key ]; then
          echo "Copying provided CA" &&
          mkdir -p config/certs/ca &&
          cp "$${CA_CERT_FILE}" config/certs/ca/ &&
          cp "$${CA_KEY_FILE}"  config/certs/ca/ ;
        fi &&
        if [ ! -f config/certs/certs.zip ]; then
          echo "Creating certs" &&
          echo -ne \
            "instances:\n"\
            "  - name: elasticsearch1\n"\
            "    dns:\n"\
            "      - elasticsearch1\n"\
            "      - localhost\n"\
            "    ip:\n"\
            "      - 127.0.0.1\n"\
            "  - name: elasticsearch2\n"\
            "    dns:\n"\
            "      - elasticsearch2\n"\
            "      - localhost\n"\
            "    ip:\n"\
            "      - 127.0.0.1\n"\
            "  - name: elasticsearch3\n"\
            "    dns:\n"\
            "      - elasticsearch3\n"\
            "      - localhost\n"\
            "    ip:\n"\
            "      - 127.0.0.1\n"\
            "  - name: elasticsearch4\n"\
            "    dns:\n"\
            "      - elasticsearch4\n"\
            "      - localhost\n"\
            "    ip:\n"\
            "      - 127.0.0.1\n"\
            "  - name: elasticsearch5\n"\
            "    dns:\n"\
            "      - elasticsearch5\n"\
            "      - localhost\n"\
            "    ip:\n"\
            "      - 127.0.0.1\n"\
            > config/certs/instances.yml &&
          bin/elasticsearch-certutil cert --silent --pem \
            --in config/certs/instances.yml \
            --out config/certs/certs.zip \
            --ca-cert config/certs/ca/ca.crt \
            --ca-key config/certs/ca/ca.key \
            --ca-pass "$${CA_KEY_PASSPHRASE}" &&
          unzip config/certs/certs.zip -d config/certs ;
        fi &&
        echo "Setting file permissions" &&
        chown -R root:root config/certs &&
        find . -type d -exec chmod 750 \{\} \; &&
        find . -type f -exec chmod 640 \{\} \; &&
        echo "Waiting for Elasticsearch availability" &&
        until curl -s -f --cacert config/certs/ca/ca.crt \
          -u "$${ELASTICSEARCH_API_USERNAME}:$${ELASTICSEARCH_API_PASSWORD}" \
          -o /dev/null \
          "$${ELASTICSEARCH_API_ENDPOINT}/_cluster/health?wait_for_status=green&timeout=20s"; do
          sleep 10; 
        done &&
        echo "Setting $${KIBANA_USERNAME} password" &&
        until curl -s -f --cacert config/certs/ca/ca.crt \
          -u "$${ELASTICSEARCH_API_USERNAME}:$${ELASTICSEARCH_API_PASSWORD}" \
          -X POST -H "Content-Type: application/json" \
          "$${ELASTICSEARCH_API_ENDPOINT}/_security/user/$${KIBANA_USERNAME}/_password" \
          -d "{\"password\":\"$${KIBANA_PASSWORD}\"}" | grep -q "^{}"; do
          sleep 10;
        done &&
        echo "All done!" &&
        sleep 10
    healthcheck:
      # noinspection ComposeUnknownValues
      test:
        - "CMD-SHELL"
        - |-
          [ -f config/certs/elasticsearch1/elasticsearch1.crt ] &&
          [ -f config/certs/elasticsearch1/elasticsearch1.key ] &&
          [ -f config/certs/elasticsearch2/elasticsearch2.crt ] &&
          [ -f config/certs/elasticsearch2/elasticsearch2.key ] &&
          [ -f config/certs/elasticsearch3/elasticsearch3.crt ] &&
          [ -f config/certs/elasticsearch3/elasticsearch3.key ] &&
          [ -f config/certs/elasticsearch4/elasticsearch4.crt ] &&
          [ -f config/certs/elasticsearch4/elasticsearch4.key ] &&
          [ -f config/certs/elasticsearch5/elasticsearch5.crt ] &&
          [ -f config/certs/elasticsearch5/elasticsearch5.key ]
      interval: 1s
      timeout: 5s
      retries: 120
    environment:
      CA_CERT_FILE: "/ca.crt"
      CA_KEY_FILE: "/ca.key"
      CA_KEY_PASSPHRASE: *ca-key-passphrase
      ELASTICSEARCH_API_ENDPOINT: *elasticsearch-api-endpoint
      ELASTICSEARCH_API_USERNAME: *elasticsearch-username
      ELASTICSEARCH_API_PASSWORD: *elasticsearch-password
      KIBANA_USERNAME: *kibana-username
      KIBANA_PASSWORD: *kibana-password
    volumes:
      - '${COMPOSE_PROJECT_DIRECTORY:-.}/../certificates/ca_cert.crt:/ca.crt:ro'
      - '${COMPOSE_PROJECT_DIRECTORY:-.}/../certificates/ca_private.pem:/ca.key:ro'
      - "certs:/usr/share/elasticsearch/config/certs"
    logging: *default-logging

  elasticsearch1:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *elasticsearch-image
    <<: *elasticsearch-data-node-limits
    ulimits: *default-ulimits
    entrypoint: *elasticsearch-entrypoint
    command: *elasticsearch-command
    healthcheck: *elasticsearch-healthcheck
    environment:
      node.name: "elasticsearch1"
      xpack.security.http.ssl.key: "certs/elasticsearch1/elasticsearch1.key"
      xpack.security.http.ssl.certificate: "certs/elasticsearch1/elasticsearch1.crt"
      xpack.security.transport.ssl.key: "certs/elasticsearch1/elasticsearch1.key"
      xpack.security.transport.ssl.certificate: "certs/elasticsearch1/elasticsearch1.crt"
      <<: *elasticsearch-data-conf
    ports:
      - "9201:9200"
    volumes:
      - *elasticsearch-certs-volume
      - "elasticsearch1-data:/usr/share/elasticsearch/data"
    logging: *default-logging

  elasticsearch2:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *elasticsearch-image
    <<: *elasticsearch-data-node-limits
    ulimits: *default-ulimits
    entrypoint: *elasticsearch-entrypoint
    command: *elasticsearch-command
    healthcheck: *elasticsearch-healthcheck
    environment:
      node.name: "elasticsearch2"
      xpack.security.http.ssl.key: "certs/elasticsearch2/elasticsearch2.key"
      xpack.security.http.ssl.certificate: "certs/elasticsearch2/elasticsearch2.crt"
      xpack.security.transport.ssl.key: "certs/elasticsearch2/elasticsearch2.key"
      xpack.security.transport.ssl.certificate: "certs/elasticsearch2/elasticsearch2.crt"
      <<: *elasticsearch-data-conf
    ports:
      - "9202:9200"
    volumes:
      - *elasticsearch-certs-volume
      - "elasticsearch2-data:/usr/share/elasticsearch/data"
    logging: *default-logging

  elasticsearch3:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *elasticsearch-image
    <<: *elasticsearch-data-node-limits
    ulimits: *default-ulimits
    entrypoint: *elasticsearch-entrypoint
    command: *elasticsearch-command
    healthcheck: *elasticsearch-healthcheck
    environment:
      node.name: "elasticsearch3"
      xpack.security.http.ssl.key: "certs/elasticsearch3/elasticsearch3.key"
      xpack.security.http.ssl.certificate: "certs/elasticsearch3/elasticsearch3.crt"
      xpack.security.transport.ssl.key: "certs/elasticsearch3/elasticsearch3.key"
      xpack.security.transport.ssl.certificate: "certs/elasticsearch3/elasticsearch3.crt"
      <<: *elasticsearch-data-conf
    ports:
      - "9203:9200"
    volumes:
      - *elasticsearch-certs-volume
      - "elasticsearch3-data:/usr/share/elasticsearch/data"
    logging: *default-logging

  elasticsearch4:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *elasticsearch-image
    <<: *elasticsearch-coordinating-node-limits
    ulimits: *default-ulimits
    entrypoint: *elasticsearch-entrypoint
    command: *elasticsearch-command
    healthcheck: *elasticsearch-healthcheck
    environment:
      node.name: "elasticsearch4"
      xpack.security.http.ssl.key: "certs/elasticsearch4/elasticsearch4.key"
      xpack.security.http.ssl.certificate: "certs/elasticsearch4/elasticsearch4.crt"
      xpack.security.transport.ssl.key: "certs/elasticsearch4/elasticsearch4.key"
      xpack.security.transport.ssl.certificate: "certs/elasticsearch4/elasticsearch4.crt"
      <<: *elasticsearch-coordinating-conf
    volumes:
      - *elasticsearch-certs-volume
      - "elasticsearch4-data:/usr/share/elasticsearch/data"
    logging: *default-logging

  elasticsearch5:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *elasticsearch-image
    <<: *elasticsearch-coordinating-node-limits
    ulimits: *default-ulimits
    entrypoint: *elasticsearch-entrypoint
    command: *elasticsearch-command
    healthcheck: *elasticsearch-healthcheck
    environment:
      node.name: "elasticsearch5"
      xpack.security.http.ssl.key: "certs/elasticsearch5/elasticsearch5.key"
      xpack.security.http.ssl.certificate: "certs/elasticsearch5/elasticsearch5.crt"
      xpack.security.transport.ssl.key: "certs/elasticsearch5/elasticsearch5.key"
      xpack.security.transport.ssl.certificate: "certs/elasticsearch5/elasticsearch5.crt"
      <<: *elasticsearch-coordinating-conf
    volumes:
      - *elasticsearch-certs-volume
      - "elasticsearch5-data:/usr/share/elasticsearch/data"
    logging: *default-logging

  elasticsearch-balancer:
    image: *balancer-image
    mem_limit: "256m"
    mem_reservation: "64m"
    ulimits: *default-ulimits
    environment:
      CLIENT_TIMEOUT: "150s"
      SERVER_TIMEOUT: "120s"
      BACKEND_CA_BUNDLE: "/usr/local/etc/haproxy/ca.crt"
      BACKEND_CHECK_URI: "/_cluster/health?wait_for_status=green&timeout=5s"
      BACKEND_CHECK_USER_AGENT: "balancer"
      # Base64("elastic:elastic")
      BACKEND_CHECK_BASIC_AUTH: "ZWxhc3RpYzplbGFzdGlj"
      BACKEND_CHECK_INTER: "10s"
      BACKEND_CHECK_FALL: "1"
      BACKEND_CHECK_RISE: "1"
      BACKEND1_HOST: "elasticsearch4"
      BACKEND1_PORT: "9200"
      BACKEND2_HOST: "elasticsearch5"
      BACKEND2_PORT: "9200"
    ports:
      - "9204:8080"
    volumes:
      - "${COMPOSE_PROJECT_DIRECTORY:-.}/elasticsearch-balancer/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro"
      - "${COMPOSE_PROJECT_DIRECTORY:-.}/../certificates/ca_cert.crt:/usr/local/etc/haproxy/ca.crt:ro"
    logging: *default-logging

  kibana1:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *kibana-image
    <<: *kibana-limits
    ulimits: *default-ulimits
    entrypoint: *kibana-entrypoint
    command: *kibana-command
    healthcheck: *kibana-healthcheck
    environment:
      <<: *kibana-conf
    volumes:
      - *kibana-certs-volume
      - "kibana1-data:/usr/share/kibana/data"
    logging: *default-logging

  kibana2:
    depends_on:
      setup:
        condition: "service_healthy"
    image: *kibana-image
    <<: *kibana-limits
    ulimits: *default-ulimits
    entrypoint: *kibana-entrypoint
    command: *kibana-command
    healthcheck: *kibana-healthcheck
    environment:
      <<: *kibana-conf
    volumes:
      - *kibana-certs-volume
      - "kibana2-data:/usr/share/kibana/data"
    logging: *default-logging

  kibana-balancer:
    image: *balancer-image
    mem_limit: "256m"
    mem_reservation: "64m"
    ulimits: *default-ulimits
    environment:
      CLIENT_TIMEOUT: "150s"
      SERVER_TIMEOUT: "120s"
      BACKEND_CHECK_URI: "/api/status"
      BACKEND_CHECK_USER_AGENT: "balancer"
      # Base64("elastic:elastic")
      BACKEND_CHECK_BASIC_AUTH: "ZWxhc3RpYzplbGFzdGlj"
      BACKEND_CHECK_INTER: "10s"
      BACKEND_CHECK_FALL: "1"
      BACKEND_CHECK_RISE: "1"
      STICKINESS_COOKIE_NAME: "kibana-balancer"
      STICKINESS_COOKIE_SECRET: "some-secret-used-for-encryption-of-stickiness-cookie"
      BACKEND1_HOST: "kibana1"
      BACKEND1_PORT: "5601"
      BACKEND2_HOST: "kibana2"
      BACKEND2_PORT: "5601"
    ports:
      - "80:8080"
    volumes:
      - "${COMPOSE_PROJECT_DIRECTORY:-.}/kibana-balancer/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro"
    logging: *default-logging
